
.hero{
    max-width: 480px;
    margin: auto;
    margin-top: 5rem;      
    border: 1px solid rgba(116, 119, 137, 0.55);
    border-radius: 4px;
    background-color: rgba(235, 237, 247, 0.55);
}

.cabecalho h1{
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    color: #F9776F;
    padding: 2rem 0 1rem 1rem;
    
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 4rem;
    max-width: 40.0rem;
    margin: auto;
}

.flex{
    display: flex;
    margin: 1rem;
}

th{
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: right;

    color: #3E404E;
}

td{
    padding-left: 3rem;
}

.sexo .homem{
    margin-right: 1.2rem;;
}

label[for]{
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;

    color: #747789;
    margin-left: .4rem;
} 


input[type="number"],
select{
    border: 1px solid rgba(116, 119, 137, 0.55);
    box-sizing: border-box;
    border-radius: 3px;
    color: #747789;
    width: 10.2rem;
    padding: .4rem 0 .4rem .4rem;
}


input::placeholder{
    color: rgba(116, 119, 137, 0.55);
}

button{
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 0.05em;
    border: none;

    width: 12.2rem;
    margin-top: 1.6rem;
    padding: .6rem .8rem;
   
    color: white;
    background: #F9776F;
    border-radius: 3px;

    cursor: pointer;

    transition: background 200ms;
}

button:hover{
    background-color: #E06B64;
}

.flex.error input{
    border: 1px solid #F92828;
}

.flex.sucess input{
    border: 1px solid #14F92B;
}
