html{
    background-color: #040406;
}

.hero{
    max-width: 90%;
    margin: auto;
    margin-top: 6rem;      
    margin-bottom: 6rem;      
    border-radius: 8px;
    background-color: #22242C;
}

.cabecalho img{
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    color: #F9776F;
    padding: 4rem 0 0 4rem;  
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 4rem;
    max-width: 40.0rem;
    margin: auto;
}

.flex{
    display: flex;
    margin: 1rem;
}

th{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.04em;

    color: #97949B;
}

td{
    padding-left: 3rem;
}

.sexo .homem{
    margin-right: 1.2rem;;
}

label[for]{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.04em;

    color: #97949B;
    margin-left: .4rem;
} 


input[type="number"],
select{
    font-weight: 300;
    border: none;
    box-sizing: border-box;
    border-radius: 8px;
    color: rgba(151, 148, 155, 0.3);
    background-color: #292A33;
    width: 18rem;
    height: 4rem;
    padding: .4rem 0 .4rem 1rem;
    font-size: 1.2rem;
}


input::placeholder{
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.04em;
    color: rgba(151, 148, 155, 0.3);
}

button{
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.2rem;
    letter-spacing: 0.04em;
    border: none;
    color: #FFFFFF;

    width: 14.2rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    padding: 1rem 3rem;
   
    color: white;
    background: #3025AC;
    border-radius: 8px;

    cursor: pointer;

    transition: background 200ms;
}

button:hover{
    background-color: #291F91;
}







